.slide {
  max-width: 600px;
  margin: 60px auto 0;
}

/* Form */
.form {
  max-width: 500px;
  margin: 20px auto;
}

/* TodoColumn */
.cardColumn {
  margin-bottom: 40px;
}

.titleGroup {
  width: 100%;
}

.clearedText {
  margin-top: 30px;
}

/* TodoCard */
.cross-off {
  text-decoration: line-through;
}

.text-caption {
  color: gray;
}

.no-desc {
  font-style: italic;
}
